.cookie-info {
  position:fixed;
  bottom:0;
  left:0;
}

.cookie-info-header{
  background-color: lightblue;
  padding: 5px 20px;
  font-size: 20px;
  border-bottom: gray 1px solid;
  border-top: gray 1px solid;
}

.cookie-info-data{
  padding: 5px 20px;
  background-color: lightgray;
  height: 120px;
  overflow-y: auto;
}

.cookie-name{
  width: 250px;
}